.env
.env.*
!.env.example

__pycache__/
*.py[cod]

.venv/
venv/

node_modules/
.next/
out/

*.log

ml/artifacts/*
!ml/artifacts/.gitkeep

ml/data/raw/*
!ml/data/raw/.gitkeep

ml/data/processed/*
!ml/data/processed/.gitkeep

ml/data/external/*
!ml/data/external/.gitkeep

.DS_Store
.vscode/
.idea/
